@import 'mixins';
@include font-face('ChakraPetch', '../fonts/ChakraPetch/ChakraPetch-Regular');
@import 'main';

$primary-color: #333;

body {
  font-family: 'ChakraPetch';
  background: url(../images/bg.jpg) top center / 100% no-repeat;
}
.hello {
  color: $primary-color;
  // background: url('../images/bird.jpg');
  font-family: 'ChakraPetch';
  font-size: 32px;
}
img {
  max-width: 200px;
}